body {
  background: url(/istolethisgraybackgroundimagefromgrsites.jpg);
  font: 12pt "Comic Sans", "Comic Sans MS", sans-serif;
}
img#me {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
}
img#me:hover {
  -moz-transform: scale(1, 1);
  -webkit-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
  filter: none;
}
