<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ page.title }}</title>
<!-- syntax highlighting CSS -->
<link rel="stylesheet" href="/css/syntax.css">
<link rel="alternate" type="application/rss+xml" title="omgren.com blog posts" href="/blog/feed.xml">
</head>
<body>
<nav>
<a href="/">{{ site.name }}</a>
<a href="/blog/">blog</a>
</nav>
<hr/>
{{ content }}
<hr/>
<footer>
<p>ren at omgren dot com<br/><a href="https://keybase.io/renning">keybase id renning</a></p>
<p>updated <time datetime="{{ site.time | date_to_xmlschema }}">{{ site.time | date_to_rfc822 }}</time></p>
</footer>
</body>
</html>
